<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Imperiya.Theme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ColorsActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.DynamicColorsActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.state.StateComponentSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.texts.TextSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.topbar.TopBarSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.warningview.WarningsComponentSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.warningview.SmallWarningComponentActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.tab.TabSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.warningview.WarningListComponentActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.warningview.WarningItemComponentActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.bottomsheet.BottomSheetActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.chips.ChipsSampleActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false" />
    </application>

</manifest>