<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="com.vlv.tv_show.TvShowInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".ui.detail.TvShowDetailActivity"
            android:theme="@style/Imperiya.Theme.Collapse"
            android:label=""
            android:exported="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="${applicationId}.SERIES_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.listing.ListingTvShowActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="${applicationId}.SERIES_LISTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.search.SearchTvShowActivity"
            android:theme="@style/Imperiya.Theme"
            android:exported="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="${applicationId}.SERIES_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
</manifest>