<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DebugApplication"
        tools:replace="android:name">

        <provider
            android:authorities="${applicationId}.BIGBROTHER"
            android:name=".BigBrotherTheMovieDb"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".EnvActivity"
            android:icon="@drawable/ic_tmdb"
            android:taskAffinity="com.vlv.themoviedb.EnvActivity"
            android:label="Env Config"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>