<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="com.vlv.people.PeopleInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".ui.detail.PeopleDetailActivity"
            android:exported="false"
            android:theme="@style/Imperiya.Theme">
            <intent-filter>
                <action android:name="${applicationId}.PEOPLE_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.listing.PeopleListingActivity"
            android:exported="false"
            android:theme="@style/Imperiya.Theme">
            <intent-filter>
                <action android:name="${applicationId}.PEOPLE_POPULAR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="${applicationId}.PEOPLE_TRENDING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>